<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.angularjs.org/1.5.7/angular.min.js"></script>
    <script src="./script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div ng-controller="createUserController as create">
      <input type="text" ng-model="create.name" placeholder="name" />
      <input type="number" ng-model="create.age" placeholder="age" />
      <button ng-click="create.createUser();">Create</button>
    </div>
    <div ng-controller="showUserController as show">
      <ul>
        <li ng-repeat="user in show.users">
          <span>{{user.name}}</span>
          <span>{{user.age}}</span>
          <button ng-click="show.removeUser($index)">Delete</button>
        </li>
      </ul>
    </div>
  </body>
</html>
